<!doctype html>
<title>Product form</title>
<h2>Fill the form to add an image</h2>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
<form method="post" action="/submissions" enctype="multipart/form-data">
    <input type="hidden" name="MAX_FILE_SIZE" value="4194304" />     	
	<dl>
		<p>
			<input type="hidden" name="_method" value="POST" />
            <label for="file">Submissions (in zip file):</label>
			<input type="file" name="file" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Add">
	</p>
</form>

